@page "/login"
@using FundTracker.Model

<h2>Login</h2>

<div class="form-login">
    <form class="text-center" @onsubmit="HandleLogin">
        <img class="mb-4" src="/appicon.png" alt="" height="72">
        <h1 class="h3 mb-3 fw-normal">Please Login</h1>

        <div class="form-floating mb-3">
            <input type="text" class="form-control" @bind="Users.UserName" placeholder= "Username" />
            <label for="floatingInput">Username</label>
        </div>

        <!-- Password Input -->
        <div class="form-floating mb-3">
            <input type="password" class="form-control" @bind="Users.Password" placeholder="Password" />
            <label for="floatingPassword">Password</label>
        </div>
        <div class="form-floating mb-3">
            <select class="form-control" @bind="Users.Currency">
                <option value="USD">NPR - Nepali Rupee</option>
                <option value="USD">USD - US Dollar</option>
                <option value="INR">INR - Indian Rupee</option>
            </select>
            <label for="floatingCurrency">Preferred Currency</label>
        </div>

        @if (!string.IsNullOrEmpty(ErrorMessage))
        {
            <div class="alert alert-danger">@ErrorMessage</div>
        }
        <button class="btn btn-lg btn-primary">
            Login
        </button>

    </form>
</div>



