@using FundTracker.Model
@inherits LayoutComponentBase
@* Required *@
<MudThemeProvider />
<MudPopoverProvider />

@* Needed for dialogs *@
<MudDialogProvider />

@* Needed for snackbars *@
<MudSnackbarProvider />

<div class="page">
    @if( _Status.LiveUser != null)
    {
        <div class="sidebar">
            <NavMenu />
        </div>
    }
    <main>
        <CascadingValue Value="@_Status">
            <article class="content px-4">
                @Body
            </article>
        </CascadingValue>
    </main>
</div>
